header{
  display:flex;
  justify-content: space-between;
  width: 1000px;
}

.coachtech{
  font-size: 20px;
  font-weight: bold;
  color: darkblue;
}

ul {
  display: flex;
  font-weight: bold;
  color: darkblue;
  list-style: none;
  padding: 20px;
  font-size: 15px;
}

.logo{
  padding: 10px 20px;
}

li{
  margin:auto 20px;
}

.body{
  position: relative;
  display: flex;
  width: 1000px;
  
}

.ttl-left{
  position: absolute;
  width: 100%;
  height: 500px;
}

.txt1-parent{
  position: absolute;
  width: 100%;
  height: 75%;
  margin: 0;
}
.txt1{
  position: absolute;
  bottom: 0;
  margin: 0;
  font-size: 50px;


}

.blue-box{
  position: absolute;
  width: 75%;
  height: 30%;
  background-color: darkblue;
  top: 375px;
}


.right-picture{
  position: absolute;
  top: 100px;
  right: 0px;
  width: 500px;
}